@import "tailwindcss";

/* we will imrpove this, right ? */
:root {
  --background: #6ef5f5;
  --foreground: #037e47;
  --primary: #04ac61;
  --secondary: #1e3c3d;
  --neutral: #a9a9a9;
  --accent: #ff7a00;
  --white: #ffffff;
  --lightblack: #242222;
  --gray: #cfebe840;
  --purple: #cf5fd7;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
  --color-lightblack: var(--lightblack);
  --color-purple: var(--purple);
  --color-gray: var(--gray);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

