@import "tailwindcss";

/* boom, updated this , but uh, might not be the theme we wanted, but we can always change this */
:root {
  --background: #fafaf9; 
  --foreground: #44403c; 
  --primary: #16a34a; 
  --secondary: #f5f5f4; 
  --neutral: #d6d3d1; 
  --accent: #f97316; 
  --white: #ffffff;
  --black: #000000;

  --text-light: #78716c; 
  --text-dark: #1c1917;
  --border-light: #e7e5e4; 
  --border-dark: #a8a29e;
  --card-background: #ffffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

